* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #48732a;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

.imagen-about-uss{
    width: 18%;
    float: left;
}

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 94%, 46%, 0.459), hsla(115, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #860606;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}



/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }

    .cierre {
        background-position: center;
  }
  .grid{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 80%;
	height: 90%;
	border: 3px solid rgb(12, 12, 12);
	border-radius: 50px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: white;
	grid-template-rows: 25% 100%;
}
.titulo{
	grid-column: 1/3;
	text-align: center;
	display: grid;
	grid-template-columns: 33% 33% 29%;
}
.cierre{
	justify-self: start;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cierre1{
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
}
.selector{
	height:70%;
	text-align: center;
}
.selector>form{
	margin: 20px;
	padding: 20px;
}
.input{
	width: 90%;
	border-radius: 20px;
	padding: 2%;
	margin: 3%;
}
.input2{
	width: 90%;
	padding: 0.5%;
	margin: 1%;
}
.Metodo{
	height:70%;
    width: 100%;
}
.Metodo>form{
	width: 90%;
	height: 100%;
	background-color: rgb(230, 250, 229);
	display: grid;
	grid-template-columns: 10% 40% 40% 10%;
	grid-template-rows: 12% 15% 14% 14% 14% 14% 14%;
	border-radius: 20px;
	border: 1px solid rgb(12, 12, 12);
	padding: 10px;
}
.Metodo>form>h4{
	grid-column: 2/4;
}
.form-group1{
	
	grid-column: 2/4;
}
.form-group1>input{
	width: 94%;
}
.form-group2{
	
	grid-column: 4/4;
}
.form-group2>input{
	width: 94%;
}
.form-group3{
	
	grid-column: 4/4;
}
.form-group3>input{
	width: 94%;
}
div:hover{
    border:1px solid rgb(87, 196, 77);
}